{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>quantidade</th>
                <th>preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in Itens %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.preco }}</td>
                <td>
                    <a href="{{ url_for('editar', id=item.id) }}" id="editar">Editar</a>
                    <a href="{{ url_for('deletar', id=item.id) }}" id="deletar">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
